@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-violet-400: theme("colors.violet.400");
    --color-fuchsia-400: theme("colors.fuchsia.400");
    --color-fuchsia-900: theme("colors.fuchsia.900");
    --color-amber-300: theme("colors.amber.300");
    --color-teal-300: theme("colors.teal.300");
    --color-gray-950: theme("colors.gray.950");
    --color-indigo-950: theme("colors.indigo.300");
    --color-border: theme("colors.gray.200/20%");
  }
}
@layer components {
  /* This turns your variable into a reusable CSS class */
  .input-style {
    @apply w-full px-4 py-3 rounded-xl border border-slate-200 
           focus:ring-4 focus:ring-blue-500/10 focus:border-blue-500 
           transition-all outline-none bg-slate-50/50 placeholder:text-slate-400 
           text-slate-900; /* Added text-slate-900 so typing is visible on white background */
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 isolate -z-10;
  }
}

html {
  scroll-behavior: smooth;
}